body {
    background-color: white;
}

.section {
    margin-bottom: 30px;
    padding: 75px 150px;
} 

.header, .footer {
    background-color: #1F2937;     
}

/* Head-Section */


/* Menu */

.header {
  display: flex;
    flex-direction: column; 
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

h1 {
    color: #F9FAF8;
    font-size: 25px;
}

.links, .secondary {
    color: #e5e7eb;
    font-size: 18px;    
}

ul {
    display: flex;
    gap: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Header Subcontent */

.main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 5px 25px; 
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 200px;
    background-color: grey;
    color: white;
    flex: auto;
}

/* Main-Section */

.random {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.element {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtext {
    text-align: center;
}

.illustration {
    width: 100px;
    height: 100px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 10px;
}

/* Quote */


.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 30px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.quote.Thor {
    font-style: normal;
    font-size: 25px;
    align-self: flex-end;
    font-weight: bold;
}

/* Call to action! */

.action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    border-radius: 8px;
    padding: 10px 75px;
    gap: 25px;    
}

.container p {
    color: #F9FAF8;
}

.heading {
    font-weight: bold;
    font-size: 19px;
}

.container.button {
    padding: 5px 15px;
}

/* Footer-Section */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

