body {
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
}

.header {
    background-color: #1F2937; 
}

.main {
    background-color: white;
}

.footer {
    background-color: #1F2937;
}

